# Byte-compiled / optimized / DLL files
__pycache__/
# Temporary and binary files
*~
*.py[cod]

# C extensions
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Sphinx documentation
docs/_build/
# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

*.swp
.virtualenv*
*.sw?
README.local.md
*/.ipynb_checkpoints
.ipynb_checkpoints
# Build and docs folder/files
build/*
dist/*
sdist/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
.devenv*
.doit.db
